.clr {
    clear: both;
}

/* Home */
.Home {
    background-image: url(./../imgs/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home .cov {
    background-color: rgba(0, 0, 0, 0.6);
}

.Home .cov a {
    font-family: Montserrat, sans-serif;
}

.Home h3 {
    font-size: 55px;
    font-weight: 700;

}

.Home h2 {
    font-size: 55px;
    font-weight: 300;
    color: white;
}

.Home h2::after {
    content: " |";
    animation: text 7s infinite steps(10);
}

@keyframes text {
    0% {
        content: " D|";
    }

    2% {
        content: " De|";
    }

    4% {
        content: " Dev|";
    }

    6% {
        content: " Deve|";
    }

    8% {
        content: " Devel|";
    }

    10% {
        content: " Develo|";
    }

    12% {
        content: " Develop|";
    }

    14% {
        content: " Develope|";
    }

    16% {
        content: " Developer|";
    }

    18% {
        content: " Developer |";
    }

    20% {
        content: " Developer  |";
    }

    22% {
        content: " Developer ! |";
    }

    24% {
        content: " Develope|";
    }

    26% {
        content: " Develop|";
    }

    28% {
        content: " Develo|";
    }

    30% {
        content: " Devel|";
    }

    32% {
        content: " Deve|";
    }

    34% {
        content: " Dev|";
    }

    36% {
        content: " De|";
    }

    38% {
        content: " D|";
    }

    40% {
        content: " |";
    }

    42% {
        content: " Y|";
    }

    44% {
        content: " Yo|";
    }

    46% {
        content: " You|";
    }

    48% {
        content: " Yous|";
    }

    50% {
        content: " Youss|";
    }

    52% {
        content: " Yousse|";
    }

    54% {
        content: " Youssef|";
    }

    56% {
        content: " Youssef |";
    }

    58% {
        content: " Youssef H|";
    }

    60% {
        content: " Youssef Ha|";
    }

    62% {
        content: " Youssef Has|";
    }

    64% {
        content: " Youssef Hass|";
    }

    66% {
        content: " Youssef Hassa|";
    }

    68% {
        content: " Youssef Hassan|";
    }

    70% {
        content: " Youssef Hassa|";
    }

    72% {
        content: " Youssef Hass|";
    }

    74% {
        content: " Youssef Has|";
    }

    76% {
        content: " Youssef Ha|";
    }

    78% {
        content: " Youssef H|";
    }

    80% {
        content: " Youssef |";
    }

    82% {
        content: " Youssef|";
    }

    84% {
        content: " Yousse|";
    }

    86% {
        content: " Youss|";
    }

    88% {
        content: " Yous|";
    }

    90% {
        content: " You|";
    }

    92% {
        content: " Yo|";
    }

    94% {
        content: " Y|";
    }

    96% {
        content: " |";
    }

    98% {
        content: " ";
    }

    100% {
        content: " |";
    }
}

/* Home */

/* About */
.about {
    overflow: hidden;
}

.about .hero_img {}

.about .hero_img img {
    width: 80%;
}

.about .hero_img::after {
    content: "";
    width: 60%;
    height: 80%;
    position: absolute;
    left: 10px;
    bottom: -30px;
    background-image: url(./../imgs/dots.png);
    background-repeat: repeat;
    color: black;
    z-index: -1;
}

.about h3 {
    font-size: 30px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
}

.about p {
    color: rgb(153, 153, 153);
}

.about .progress {
    height: 27px;
    width: 90%;
}

.about .btn {
    width: 180px;
    border: 1px solid black;
}

/* About */
/* Services */
.service {
    background-color: #F7F7F7;
    overflow: hidden;
}

.service .box {
    border-style: none;
    border: 0px;
}

.service .box .card {
    width: 100%;
    height: 92%;
    padding-left: 10px;
    padding-right: 10px;

    border-style: none;
    border: 0px;
}

.changes-color {
    width: 50px;
    height: 50px;
    background-color: #F7F7F7;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.service .card:hover .changes-color {
    color: white;
    background-color: black;
    transition-duration: 0.7s;
}

/* Services */
/* Work */
.works {
    overflow: hidden;
}

.works .card {
    width: 96%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.works .card img {
    width: 100%;
    ;
}

.works .card .hov {
    width: 100%;
    height: 111%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.4s;
}

.works .card:hover .hov {
    visibility: visible;
    opacity: 1;
}

/* Work */

/* Client */
.client{
    background-color: #F7F7F7;
    /* background-color: black; */
}
.client img{
    width: 75px;
    filter: invert(100%);

    border-radius: 50%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {

    /* filter: invert(100%); */
}
#carouselExampleIndicators{
    filter: invert(100%);

}
/* Client */